<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx"   
    xmlns:context="http://www.springframework.org/schema/context"   
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
                     http://www.springframework.org/schema/tx   
                     http://www.springframework.org/schema/tx/spring-tx.xsd   
                     http://www.springframework.org/schema/context     
                     http://www.springframework.org/schema/context/spring-context-2.5.xsd   
                     http://www.springframework.org/schema/aop   
                     http://www.springframework.org/schema/aop/spring-aop.xsd">  

	<description>Page Service Beans Specification</description>
	<context:annotation-config/>
	<context:component-scan base-package="proxy"/>
	 <aop:aspectj-autoproxy /> 

	
	<bean id="random" class="proxy.StaticFactoryBean" factory-method="createRandom"
		scope="prototype" />
	<bean id="instanceFactoryBean" class="proxy.InstanceFactoryBean">
		<property name="format" value="yyyy-MM-dd HH:mm:ss" />
	</bean>
	<bean id="dateBean" class="java.util.Date" />
	<bean id="currentTime1" factory-bean="instanceFactoryBean"
		factory-method="createTime" />
	<bean id="currentTime2" factory-bean="instanceFactoryBean"
		factory-method="createTime1">
		<constructor-arg type="java.util.Date" ref="dateBean" />
	</bean>
	<bean id="pi" class="proxy.FactoryBeanimpl" />
</beans>
